@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --color-primary-1: #ffe53bd8;
    --color-primary-2: #ff6a25da;

    --color-neutral-1: #e5e7eb;
    --color-neutral-2: #343434;
    --color-neutral-3: #262626;

    --linear-gradient: linear-gradient(120deg, var(--color-primary-1), var(--color-primary-2));
}
